@media (max-width: 1200px) {

    .border{
        width: 100%;
    }

    .behind-end-block{
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 130px;
    }

    .behind-end-img{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
    }

    .img-end{
        width: 45px;
        height: 45px;
    }

    .behind-end .wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    ul{
        columns: 3;
    }
}

@media (max-width: 900px) {
    .under-head .text{
        display: none;
    }

    .under-head .mobilText{
        display: block;
    }

    .icon .text{
        display: none;
    }

    .block-test{
        display: grid;
        height: 300px;
    }

    .date{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, 1fr);
    }

}



@media (max-width: 600px) {
    .behind-end-block{
        width: 70%;
    }

    .choose .block .wrapper{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, 1fr);
    }

    .choose .chos{
        width: 90%;
    }

    .project .block .wrapper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }


    .project .block1{
        width: 80%;
        margin: 10px 10%;
    }
    .project .block2{
        width: 80%;
        margin: 10px 10%;
    }
    .project .block3{
        width: 80%;
        margin: 10px 10%;
    }

    .news .block .wrapper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .block-news{
        width: 90%;
        margin: 5%;
    }

    .call .but{
        width: 100%;
    }

    .behind-end-img{
        display: none;
    }

    .text-end{
        display: none;
    }

    .list{
        display: none;
    }

    .icon-end{
        display: none;
    }

    .behind-end-block{
        height: 30px;
    }

    .block-test{
        height: 400px;
    }

    .welcom .wrapper{
        max-height: 250px;
        font-size: 12px;
    }
    .service .block .wrapper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .block .serv{
        width: 80%;
        margin: 10px 10%;
    }
}